# Ignore Git & CI/CD
.git
.github

# Terraform
easybank-infra/
*.tfstate
*.tfplan

# Composer / vendor / node
vendor/
node_modules/

# Logs / tmp / OS junk
*.log
__TMP__/
.DS_Store
Thumbs.db

# Secrets
.env
widrawals/stripe_*.php
